{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <!--Home Sections-->

    <section id="home" class="home bg-black fix">
        <!-- <img src="{% static 'images/home-bg.jpg' %}" alt="Home Background"> -->
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home text-center">
                    <div class="col-md-12">
                        <div class="hello_slid">
                            <div class="slid_item">
                                <div class="home_text ">
                                    <h2 class="text-white">Welcome to <strong>Tailors Online</strong></h2>
                                    <h1 class="text-white">Tired of looking for the right tailor/designer for your fabrics.</h1>
                                    <h3 class="text-white">Click on the <strong>button</strong> below lets get you measured</h3>
                                </div>

                                <div class="home_btns m-top-40">
                                    <a href="{% url 'measurement_form' %}" class="btn btn-primary m-top-20">Get started as a guest user</a>
				    <a href="{% url 'measurement_form' %}" class="btn btn-default m-top-20">Lets get you measured</a>
                                </div>
                            </div><!-- End off slid item -->

                            <div class="slid_item">
                                <div class="home_text ">
                                    <h2 class="text-white">Welcome to <strong>Tailors Online</strong></h2>
                                    <h1 class="text-white">Don't want to be a victim of what I ordered Vs what I got.</h1>
                                    <h3 class="text-white">Click on the <strong>button</strong> let us help take away those worries</h3>
                                </div>

                                <div class="home_btns m-top-40">
                                    <a href="{% url 'register' %}" class="btn btn-primary m-top-20">Get started as a registered user</a>
				    <a href="{% url 'register' %}" class="btn btn-default m-top-20">Lets get you measured</a>
                                </div>
                            </div><!-- End off slid item -->
                        </div>
                    </div>
                </div>
            </div><!--End of row-->
        </div><!--End of container -->
    </section> <!--End of Home Sections-->

    <!--product section-->
    <section id="product" class="product">
        <div class="container">
            <div class="main_product roomy-80">
                <div class="head_title text-center fix">
                    <h2 class="text-uppercase">Our collections of designs</h2>
                    <h5>Clean and Modern design is our best specialist</h5>
                </div>

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/dis1.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/dis1.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/dis2.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/dis2.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/dis3.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/dis3.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/dis4.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/dis4.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/des1.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/des1.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/des11.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/des11.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/des12.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/des12.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/des13.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/des13.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/des10.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/des10.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/des5.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/des5.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/des3.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/des3.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="port_item xs-m-top-30">
                                            <div class="port_img">
                                                <img src="{% static 'images/des4.jpg' %}" alt="" />
                                                <div class="port_overlay text-center">
                                                    <a href="{% static 'images/des4.jpg' %}" class="popup-img">+</a>
                                                </div>
                                            </div>
                                            <div class="port_caption m-top-20">
                                                <h5>Name of Design</h5>
                                                <h6>Name of Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div><!-- End of row -->
        </div><!-- End of container -->
    </section><!-- End of Product section -->

    <!--Brand Section-->
    <section id="brand" class="brand fix roomy-80">
        <div class="container">
            <div class="row">
                <div class="head_title text-center fix">
                    <h2 class="text-uppercase">Our list of fabrics</h2>
                    <h5>We offer the best of fabrics to suit your designs</h5>
                </div>
                <div class="main_brand text-center">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="brand_item sm-m-top-20">
                            <img src="{% static 'images/fab10.jpg' %}" alt="" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="brand_item sm-m-top-20">
                            <img src="{% static 'images/fab12.jpg' %}" alt="" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="brand_item sm-m-top-20">
                            <img src="{% static 'images/fab13.jpg' %}" alt="" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="brand_item sm-m-top-20">
                            <img src="{% static 'images/fab14.jpg' %}" alt="" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="brand_item sm-m-top-20">
                            <img src="{% static 'images/fab11.jpg' %}" alt="" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="brand_item sm-m-top-20">
                            <img src="{% static 'images/fab9.jpg' %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End off Brand section -->

    <!-- contact section -->
    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 conForm">
                    <h5>Tailor Us An Email</h5>
                    <p>We are happy to talk you through on how to get started with taking of your measurements or run live demos for those wishing to see how it's been done and what it is to use our services.</p>
                    <div id="message"></div>
                    <form method="post" action="" name="cform" id="cform">
                        {% csrf_token %}
                        <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." required>
                        <input name="email" id="email" type="email" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." required>
                        <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Message Details..." required></textarea>
                        <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
                        <div id="simple-msg"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End of contact section -->

{% endblock content %}
